.app-header {
  background: rgba(33,37,41, .9);

  .navbar-brand {
    color: #fff;
    font-weight: 500;
    font-size: .8rem;
    text-transform: uppercase;
    width: 300px;
    justify-content: left;
    padding-left: 1rem;
    img {
      height: 60%;
    }
  }

  .navbar-nav {
    margin-right: 30px !important;
    .nav-item {
      font-size: .8rem;
      font-weight: 500;
      a {
        color: #fff;
      }
    }
  }
}
