.nav .scopes, .scopes {
  .title-wrapper {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
  }
  h1 {
    margin-bottom: 0;
    font-size: .8rem;
    letter-spacing: 2px;
    font-weight: 400;
  }
  a {
    font-size: $small-font-size;
    position: relative;
    margin-right: .5rem;
    padding-left: 5px;
    padding-right: 5px;
    .count {
      border-radius: 10px;
      padding: 2px 5px;
      background: $primary;
      color: #fff;
      // position: absolute;
      top: -5px;
      right: -5px;
      text-decoration: none !important;
      font-size: $small-font-size;
      font-weight: 500;
    }
    &:hover {
      .label {
        text-decoration: underline;
      }
    }
    &.active {
      &:hover {
        .label {
          text-decoration: none;
        }
      }
      .label {
        font-weight: 500;
        text-decoration: none;
        color: #FB497C;
      }
      .count {
        background: $component-active-bg;
        color: #fff;

      }
    }
  }
}

// .nav-tabs {
//   margin-bottom: 1rem;
//   .nav-item {
//     border: 1px solid #dee2e6;
//     border-radius: 35px;
//     margin-right: 1rem;
//     @include transition(all 1s ease-out);
//     &:hover {
//       border-color: #343a40;
//       .nav-link {
//         color: #343a40;
//       }
//     }
//     &.no-style {
//       border: 0;
//       line-height: 35px;
//       color: #6c757d;
//     }

//     &.active {
//       border-color: #343a40;
//     }

//     .nav-link {
//       @include transition(all 1s ease-out);
//       .badge {
//         background: #e8ecf0;
//         margin-left: 5px;
//         vertical-align: middle;
//         line-height: inherit;
//         height: 19px;
//         min-width: 19px;
//         color: #343a40;
//       }
//       &.active {
//         border-radius: 35px;

//         color: #fff;
//         background: #343a40;
//         .badge {
//           background: #fff;
//           color: #343a40;
//         }
//       }
//     }
//   }
// }
