.table {
  & thead {
    & th {
      text-transform: uppercase;
      font-size: 0.6rem;
      color: $grey;
      white-space: nowrap;
    }
  }
}

.card {
  table.table {
    margin-bottom: 0;
    // tr:first-child {
    //   td, th {
    //     border-top: none;
    //     border: none;
    //   }
    // }
    // padding-left: 5px;
    // padding-right: 5px;
    th, td {
      border: none;
    }
    tbody {
      tr {
        // border-radius: 5px;
        // border-bottom: 10px solid transparent;
        &:hover {
          // border-color: transparent;
          // background-image: linear-gradient(
          //   #fff,
          //   #fafcfe
          // );

          // // background: none;
          // box-shadow: inset 0 0 3px rgba(6,7,8,.2);
          td {
            border-color: transparent;
          }
        }
      }
    }
  }
}

.index-table {
  font-size: .8rem;
  td.member-actions,
  th.member-actions {
    text-align: right;
    a {
      &:hover, &:active {
        text-decoration: none;
      }
      i {
        margin-left: .5rem;
      }
    }
  }
  td.boolean,
  th.boolean {
    text-align: center;
  }
}

.pagination {
  font-size: .6rem;
  font-weight: 700;
  text-transform: uppercase;
  justify-content: flex-end;
  .disabled {
    opacity: 0.5;
  }
}
