.table {
  & thead {
    & th {
      white-space: nowrap;
    }
  }
}

.card {
  table.table {
    margin-bottom: 0;
    th, td {
      border: none;
    }
    tbody {
      tr {
        &.clickable-row {
          cursor: pointer;
          &:hover {
            background-color: $table-row-hover-bg;
            td, td * {
              color: $table-row-hover-color;
            }
            td i {
              &:hover {
                color: $table-row-hover-color;
              }
              &:active {
                color: $table-row-active-color;
              }
            }
          }
          &:active {
            background: $table-row-active-bg;
            td, td * {
              color: $table-row-active-color;
            }
          }
        }
        &:hover {
          td {
            border-color: transparent;
          }
        }
      }
    }
  }
}

.index-table {
  font-size: .8rem;
  td.member-actions,
  th.member-actions {
    text-align: right;
    a {
      &:hover, &:active {
        text-decoration: none;
      }
      i {
        margin-left: .5rem;
      }
    }
  }
  td.boolean,
  th.boolean {
    text-align: center;
  }
}

.pagination {
  font-size: .6rem;
  font-weight: 700;
  text-transform: uppercase;
  justify-content: flex-end;
  .disabled {
    opacity: 0.5;
  }
}
