@import "variables";
$fa-font-path: '../fonts';
@import "mixins";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@coreui/coreui/scss/coreui-standalone";
@import "node_modules/select2/src/scss/core";
@import "node_modules/@chenfengyuan/datepicker/src/css/datepicker.scss";
@import "cards";
@import "header";
@import "index";
@import "panels";
@import "filters";
@import "forms";
@import "tables";
@import "scopes";
@import "sidebar";
@import "typography";
@import "page-actions";


#main-logo {
  max-width: 60%;
}

.btn-sm {
  border-radius: $input-height-inner-sm;
}

.input-group:focus-within {
  input, .input-group-text, .form-control {
    border-color: $primary;
  }
  .input-group-text {
    background: $primary;
    color: #fff;
  }
}
.input-group-text {
  transition:
    background 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.btn-primary {
  background: transparent;
  border: 2px solid $primary;
  color: $primary;
}

.datepicker-container {
  z-index: 1020 !important;
}

.main-content {
  margin-top: 1rem;
}

.card.main-content {
  border-radius: 5px;
}

body {
  min-height: 100vh;
  background:
    linear-gradient(
      // #ebf0f5,
      #e4eaf1,
      transparent
    ),
    linear-gradient(
      90deg,
    #dee2e7,
      transparent
    ),
    linear-gradient(
      -90deg,
      #e4eaf1,
      transparent
    );
  background-blend-mode: screen;
  background-repeat: no-repeat;
}

.app-header {
  border: 0;
}

.datepicker-container {
  z-index: 1020 !important;
}

.main-content {
  margin-top: 1rem;
}

.row.margin-half {
  margin-bottom: 1rem;
}

.row.margin {
  margin-bottom: 2rem;
}

.row.margin-double {
  margin-bottom: 4rem;
}

.margin-bottom-half {
  margin-bottom: 1rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.margin-bottom-double {
  margin-bottom: 4rem;
}

.alert {
  margin-top: 1rem;
}

.hide {
  display: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 200;
  &.light {
    color: #8f959b
  }
  &.uppercase {
    text-transform: uppercase;
  }
  &.normal {
    font-weight: 400;
  }
  &.strong {
    font-weight: 900;
  }
  &.spacing {
    letter-spacing: 2px;
  }
  &.center {
    text-align: center;
  }
  &.small {
    font-size: 1rem;
  }
  &.smallest {
    font-size: .8rem;
  }
}

span {
  &.divider {
    &::before {
      content: "|";
      display: inline-block;
      margin-left: 1rem;
    }
  }
}
